.popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.49);

  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center ;

  transition: 500ms;
}
.popup-body{
  max-width: 540px;
  background-color: white;
  padding: 24px;
}
h2{
  margin-top: 0;
  margin-bottom: 0;
}

.popup-headerx{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.popup.active{
  opacity: 1;

  visibility: visible;
}
